* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(75, 147, 255);
    background-image: url('../img/pattern.png');
    background-size: 30%;
    height: 100px;
}

.logo {
    height: 50px;
    margin-top: 40px;
}

main {
    margin-top: 20px;
}

h1 {
    font-size: 60px;
}

.author {
    color: grey;
}

.author-name {
    color: rgb(75, 147, 255);
}

.date {
    color: grey;
    font-size: 12px;
}